/*Utilidades*/
.clickableElement{
  cursor: pointer;
}
.hideSection{
  display: none!important;
}
/*Tipografia*/
.fw-300{
  font-weight: 300!important;
}
.fw-400{
  font-weight: 400!important;
}
.fw-500{
  font-weight: 500!important;
}
.fw-600{
  font-weight: 600!important;
}
.size-08-rem{
  font-size: 0.8rem!important;
}